<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/head :: head('Formulario Restaurante')}"></head>

    <body class="d-flex flex-column min-vh-100 bg-light">

        <nav th:replace="~{layout/navbar :: navbar}"></nav>

        <main class="container flex-grow-1 my-4">

            <h1 class="mb-0">
                <i class="fa-solid fa-utensils text-primary me-2"></i>Formulario restaurante
            </h1>

            <!-- TODO formulario para crear o editar un restaurante -->
            <form th:action="@{/restaurants}" method="post" th:object="${restaurant}">

                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name"
                           th:field="*{name}" placeholder="100 Montaditos" required>
<!--                    <small>Nombre comercial del restaurante, no la razón social.</small>-->
                </div>

                <div class="mb-3">
                    <label for="averagePrice" class="form-label">Precio medio €</label>
                    <input type="number" class="form-control" id="averagePrice"
                           th:field="*{averagePrice}" step="1" min="0">
                </div>

                <!-- numberEmployees -->
                <div class="mb-3">
                    <label for="numberEmployees" class="form-label">Número empleados</label>
                    <input type="number" class="form-control" id="numberEmployees"
                           th:field="*{numberEmployees}" step="1" min="1">
                </div>

                <!-- startDate -->
                <div class="mb-3">
                    <label class="form-label" for="startDate">Fecha apertura</label>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="foodType">Tipo de comida</label>
                    <select class="form-select" id="foodType" th:field="*{foodType}">
                        <option value=""></option>

                        <option
                                th:each="foodType : ${foodTypes}"
                                th:value="${foodType}"
                                th:text="${foodType.label}">
                        </option>

                    </select>
                </div>

                <!-- si se desactiva no sale por la UI en list y detail-->
                <div class="mb-3 form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="active"
                               role="switch" th:field="*{active}">
                    <label class="form-check-label" for="active">Restaurante activo</label>
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i> Guardar
                </button>

                <a th:href="@{/restaurants}" class="btn btn-secondary">Cancelar</a>


            </form>

        </main>

        <footer th:replace="~{layout/footer :: footer}"></footer>
        <script th:replace="~{layout/footer :: scripts}"></script>

    </body>
</html>