<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/head :: head('Formulario Review')}"></head>

    <body class="d-flex flex-column min-vh-100 bg-light">

        <nav th:replace="~{layout/navbar :: navbar}"></nav>

        <main class="container flex-grow-1 my-4">

            <h1 class="mb-0">
            <i class="fa-solid fa-utensils text-primary me-2"></i>Formulario review
            </h1>

            <form th:action="@{/reviews}" method="post" th:object="${review}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{restaurant}">
                <input type="hidden" th:field="*{dish}">
                <input type="hidden" th:field="*{creationDate}">

                <div class="alert alert-info my-3" th:if="${review.restaurant != null}">
                    <i class="fa-solid fa-store"></i>
                    Reseña sobre el restaurante:
                    <strong th:text="${review.restaurant.name}"></strong>
                </div>

                <div class="alert alert-info my-3" th:if="${review.dish != null}">
                    <i class="fa-solid fa-utensils"></i>
                    Reseña sobre el plato:
                    <strong th:text="${review.dish.name}"></strong>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input id="title" type="text" class="form-control"
                           th:field="*{title}" required maxlength="255">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea id="description" class="form-control" rows="4"
                     th:field="*{description}" required maxlength="1000"></textarea>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Puntuación (de 1 a 5)</label>
                    <input type="number" id="rating" class="form-control"
                    th:field="*{rating}" min="1" max="5" required>
                </div>
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-floppy-disk"></i>Enviar
                </button>
            </form>
        </main>

        <footer th:replace="~{layout/footer :: footer}"></footer>
        <script th:replace="~{layout/footer :: scripts}"></script>

    </body>
</html>