<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Restaurantes"
                 height="32" class="me-2 rounded-3">
<!--            <span>Restaurantes</span>-->
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/restaurants}">
                        <i class="fa-solid fa-store me-1"></i> Restaurantes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reviews}">
                        <i class="fa-solid fa-star me-1"></i> Reseñas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dishes}">
                        <i class="fa-solid fa-bowl-food me-1"></i> Platos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">
                        <i class="fa-solid fa-ticket me-1"></i> Pedidos
                    </a>
                </li>
            </ul>

            <div sec:authorize="!isAuthenticated()" class="d-flex justify-content-end">
                <a class="btn btn-outline-light btn-sm" th:href="@{/login}">
                    <i class="fa-solid fa-sign-in"></i> Entrar
                </a>
                <a class="btn btn-light btn-sm ms-2" th:href="@{/register}">
                    <i class="fa-solid fa-circle-user"></i> Registro
                </a>
            </div>

            <div sec:authorize="isAuthenticated()" class="d-flex justify-content-end">

                <span class="text-light me-3">
                    <i class="fa-solid fa-user me-1"></i>
                    <span sec:authentication="name"></span>
                </span>
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button class="btn btn-outline-light btn-sm ms-2">
                        <i class="fa-solid fa-sign-out"></i> Salir
                    </button>
                </form>

            </div>


        </div>
    </div>
</nav>
</body>
</html>
