<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Restaurantes Java</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<header class="bg-dark mb-5">
	<div class="container">
		<nav class="navbar border-bottom border-body" data-bs-theme="dark">
			<h1 class="text-white">Restaurantes en Java</h1>
			<a target="_blank" href="https://www.youtube.com/watch?v=qbWqXKN3m3c" class="align-right fw-bolder btn btn-secondary">
				Pulsa este botón si quieres ser un chico superguay
			</a>
		</nav>
	</div>
</header>
<div class="container">
	<p th:text="${restaurante.nombre}"></p>
	<p th:text="${restaurante.precioMedio != null ? restaurante.precioMedio + ' € (EUR)' : 'Sin precio'}"></p>
	<p th:if="${restaurante.numeroEmpleados != null}" th:text="${restaurante.numeroEmpleados} + ' empleados'"></p>
	<p th:unless="${restaurante.numeroEmpleados != null}">Sin empleados</p>
	<p th:if="${restaurante.activo}" style="color: chartreuse">Abierto</p>
	<p th:unless="${restaurante.activo}" style="color: brown">Cerrado</p>

	<p th:text="${platos.size()} + ' platos'"></p>
	<div class="container">
		<div class="row">
			<div class="col">Id</div>
			<div class="col">Nombre</div>
			<div class="col">Descripción</div>
			<div class="col">Precio (€ EUR)</div>
			<div class="col">Tipo</div>
			<div class="col">Acciones</div>
		</div>
		<div class="row" th:each="plato : ${platos}">
			<div class="col" th:text="${plato.id}"></div>
			<div class="col" th:text="${plato.nombre}"></div>
			<div class="col" th:text="${plato.descripcion}"></div>
			<div class="col" th:text="${plato.precio}"></div>
			<div class="col" th:text="${plato.tipoPlato.label}"></div>
			<div class="col">
				<a th:href="@{/platos/{id}(id=${plato.id})}">Ver plato</a>
			</div>
		</div>
	</div>
</div>
<div>
	<h2>Opiniones de nuestros clientes</h2>

	<p th:if="${resenas.isEmpty()}">Nadie ha comentado todavía, sé el primero en escribir una opinión.</p>

	<ul th:unless="${resenas.isEmpty()}">
		<li th:each="resena : ${resenas}">
			<p th:text="${resena.titulo}"></p>
			<p th:text="${resena.descripcion}"></p>
			<p th:text="${'Valoración: ' + resena.clasificacion + ' /5 estrellas'}"></p>
			<p th:text="${'Fecha: ' + resena.fechaCreacion}"></p>
		</li>
	</ul>
</div>
</body>
</html>