<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Formulario Restaurante')}"></head>
<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4">

	<h1 class="mb-0">
		<i class="fa-solid fa-utensils text-primary me-2"></i>Formulario restaurante
	</h1>

	<!-- TODO formulario para crear o editar un restaurante -->
	<form th:action="@{/restaurantes}" method="post" th:object="${restaurante}">

		<input type="hidden" th:field="*{id}">

		<div class="mb-3">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="nombre"
			       th:field="*{nombre}" placeholder="100 Montaditos" required>
			<!--                    <small>Nombre comercial del restaurante, no la razón social.</small>-->
		</div>

		<div class="mb-3">
			<label for="precioMedio" class="form-label">Precio medio €</label>
			<input type="number" class="form-control" id="precioMedio"
			       th:field="*{precioMedio}" step="1" min="0">
		</div>

		<div class="mb-3">
			<label for="numEmpleados" class="form-label">Número empleados</label>
			<input type="number" class="form-control" id="numEmpleados"
			       th:field="*{numEmpleados}" step="1" min="1">
		</div>

		<!-- startDate -->
		<div class="mb-3">
			<label class="form-label" for="fechaInicio">Fecha apertura</label>
			<input type="date" class="form-control" id="fechaInicio" th:field="*{fechaInicio}">
		</div>

		<div class="mb-3">
			<label class="form-label" for="tipoComida">Tipo de comida</label>
			<select class="form-select" id="tipoComida" th:field="*{tipoComida}">
				<option value=""></option>

				<option
						th:each="tipoComida : ${tiposComida}"
						th:value="${tipoComida}"
						th:text="${tipoComida.label}">
				</option>

			</select>
		</div>

		<!-- si se desactiva no sale por la UI en list y detail-->
		<div class="mb-3 form-check form-switch">
			<input type="checkbox" class="form-check-input" id="activo"
			       role="switch" th:field="*{activo}">
			<label class="form-check-label" for="activo">Restaurante activo</label>
		</div>

		<button type="submit" class="btn btn-success">
			<i class="fa-solid fa-floppy-disk"></i> Guardar
		</button>

		<a th:href="@{/restaurantes}" class="btn btn-secondary">Cancelar</a>


	</form>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>