<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{layout/head :: head('CAMBIAR NOMBRE')}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layout/navbar :: navbar}"></header>

<main class="container flex-grow-1">
	<a th:href="@{/platos}"
	   class="btn btn-sm btn-outline-primary flex-shrink-0">
		<i class="fa-regular fa-eye me-1"></i>Ver platos
	</a>
	<a th:href="@{/pedidos}"
	   class="btn btn-sm btn-outline-primary flex-shrink-0">
		<i class="fa-regular fa-eye me-1"></i>Ver pedidos
	</a>
	<a th:href="@{/restaurantes}"
	   class="btn btn-sm btn-outline-primary flex-shrink-0">
		<i class="fa-regular fa-eye me-1"></i>Ver restaurantes
	</a>
	<a th:href="@{/resenas}"
	   class="btn btn-sm btn-outline-primary flex-shrink-0">
		<i class="fa-regular fa-eye me-1"></i>Ver reseñas
	</a>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>