<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="~{layout/head :: head('Restaurantes Java')}"></head>
<body class="d-flex flex-column min-vh-100">

<header th:replace="~{layout/navbar :: navbar}"></header>

<main class="container flex-grow-1">
	<a href="https://www.flaticon.es/iconos-gratis/restaurante"
			title="restaurante iconos">
		Restaurante iconos creados por Eucalyp - Flaticon
	</a>
</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>