<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head('Formulario Plato')}"></head>
<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout/navbar :: navbar}"></nav>

<main class="container flex-grow-1 my-4">

	<h1 class="mb-0">
		<i class="fa-solid fa-utensils text-primary me-2"></i>Formulario plato
	</h1>

	<form th:action="@{/platos}" method="post" th:object="${plato}">

		<input type="hidden" th:field="*{id}">

		<div class="mb-3">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="nombre"
			       th:field="*{nombre}" placeholder="Cachopo" required>
		</div>

		<div class="mb-3">
			<label for="descripcion" class="form-label">Descripción</label>
			<textarea class="form-control" id="descripcion" th:field="*{descripcion}"
			          rows="3" maxlength="500" placeholder="Cachopo cojonudo grande y barato..." required>
			</textarea>
		</div>

		<div class="mb-3">
			<label for="precio" class="form-label">Precio</label>
			<input type="number" class="form-control" id="precio"
			       th:field="*{precio}" step="0.01" min="1" required>
		</div>

		<div class="mb-3">
			<label class="form-label" for="tipoPlato">Tipo de plato</label>
			<select class="form-select" id="tipoPlato" th:field="*{tipoPlato}">
				<option value=""></option>

				<option
						th:each="tipoPlato : ${tiposPlato}"
						th:value="${tipoPlato}"
						th:text="${tipoPlato.label}">
				</option>

			</select>
		</div>

		<div class="mb-3">
			<label class="form-label" for="restaurante">Restaurante</label>
			<select class="form-select" id="restaurante" th:field="*{restaurante}">
				<option value=""></option>

				<option
						th:each="restaurante : ${restaurantes}"
						th:value="${restaurante.id}"
						th:text="${restaurante.id + ' - ' + restaurante.nombre}">
				</option>

			</select>
		</div>

<!--		<div class="mb-3">-->
<!--			<label class="form-label" for="alergeno">Alérgenos</label>-->
<!--			<div class="form-check mb-3">-->
<!--				<div th:each="alergeno : ${alergenos}">-->
<!--					<input class="form-check-input" type="checkbox" id="alergeno"-->
<!--					       th:value="${alergeno}"-->
<!--					       th:field="*{alergeno}">-->
<!--					<label class="form-check-label" for="alergeno"-->
<!--					       th:text="${alergeno.label}">-->
<!--					</label>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

		<button type="submit" class="btn btn-success">
			<i class="fa-solid fa-floppy-disk"></i> Guardar
		</button>

		<a th:href="@{/platos}" class="btn btn-secondary">Cancelar</a>


	</form>

</main>

<footer th:replace="~{layout/footer :: footer}"></footer>
<script th:replace="~{layout/footer :: scripts}"></script>

</body>
</html>