<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Restaurantes Java</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<header class="bg-dark mb-5">
	<div class="container">
		<nav class="navbar border-bottom border-body" data-bs-theme="dark">
			<h1 class="text-white">Restaurantes en Java</h1>
			<a target="_blank" href="https://www.youtube.com/watch?v=qbWqXKN3m3c" class="align-right fw-bolder btn btn-secondary">
				Pulsa este botón si quieres ser un chico superguay
			</a>
		</nav>
	</div>
</header>
<div class="container">
	<h1 th:text="'Plato ' + ${plato.id}" class="mb-2"></h1>

	<p th:text="'Nombre: ' + ${plato.nombre}"></p>

	<p th:text="'Precio: ' + ${plato.precio != null ? plato.precio + ' € (EUR)' : 'Sin precio'}"></p>

	<p th:text="'Descripción: ' + ${plato.descripcion != null ? plato.descripcion + ' € (EUR)' : 'Sin descripción'}"></p>

	<p th:switch="${plato.tipoPlato}">
		<span th:case="${T(com.restaurantes.model.enums.TipoPlato).ENTRANTES}">Entrantes</span>
		<span th:case="${T(com.restaurantes.model.enums.TipoPlato).PRIMER_PLATO}">Primer plato</span>
		<span th:case="${T(com.restaurantes.model.enums.TipoPlato).POSTRE}">Postres</span>
		<span th:case="*">No definido</span>
	</p>

	<p th:if="${plato.restaurante != null}">
		<a th:href="@{/restaurantes/{id}(id=${plato.restaurante.id})}" th:text="'Restaurante: ' + ${plato.restaurante.nombre}"></a>
	</p>
</div>
</body>
</html>